@model shire_project.ViewModels.RecipeIndexData

@{
    ViewBag.Title = "Recipes";
}

<h2>Recipes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Style</th>
        <th>Malt Ingredient</th>
        <th>Hop Ingredient</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Recipes)
    {
        string selectedRow = "";
        if (item.RecipeID == ViewBag.RecipeID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @{
                    foreach (var maltIngredient in item.MaltIngredients)
                    {
                        @maltIngredient.MaltIngredientID @:  @maltIngredient.Malt.Name <br />
                    }
                }
            </td>

            <td>
                @Html.ActionLink("Select", "Index", new { id = item.RecipeID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.RecipeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.RecipeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RecipeID })
            </td>
        </tr>
    }
</table>
